<%= form_for [@forum_thread, @forum_post] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, placeholder: "Add a comment", data: {behavior: "autocomplete"}, rows: 10, class: "form-control", id: "forum_post_body" %>
    <!-- <trix-editor input="forum_post_body", data: {behavior: "autocomplete"}></trix-editor> -->
  </div>

  <div class="form-group">
    <div id="preview"></div>
    </br>
    <%= f.file_field :images, :onchange => "previewFiles()", multiple: true, placeholder: "Image", accept: ".jpg, .jpeg, .gif, .png", class: "form-control", id: "image-form" %>
    <%= f.hidden_field :images_cache, multiple: true %>
  </div>
  
  <div class="form-group">
    <% if current_user.present? && current_user.is_advertiser != true %>
      <%= f.button "Post Comment", class: "btn btn-primary", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Posting Comment...".html_safe %>
    <% elsif current_user.present? && current_user.is_advertiser == true %>
      <h6>Sorry, advertisers do not have permissions to post.</h6>
      <%= f.button "Post Comment", class: "btn btn-primary", disabled: true %>
    <% else %>
      <h6><%= link_to "You need to sign in to add comment.", new_user_session_path %></h6>
      <%= f.button "Post Comment", class: "btn btn-primary", disabled: true %>
    <% end %>
  </div>
<% end %>
