<%= div_for forum_post do %>
  <p class="text-muted">Posted by <%= sanitize forum_post.user.name %> <%=  local_time_ago forum_post.created_at %></p>
  <p><%= sanitize markdownify forum_post.body %></p>
  <% forum_post.images.each do |p| %>
	<div><%= image_tag(p.url, class: "image-container") %></div>
  <% end %>
<% end %>
