<% if @banner.forum_show.present? %>
    <div class="alert alert-info"><%= @banner.forum_show %></div>
<% elsif current_user.is_advertiser == true %>
	<div class="alert alert-danger">Sorry, advertisers do not have permissions to post.</div>
<% end %>


<div class="container">
  <h1><%= markdownify @forum_thread.subject %></h1>
  <p class="text-muted">Created by <%= @forum_thread.user.name %></p>
  <%= render @forum_thread.forum_posts %>

  <hr />
  <%= render partial: "forum_posts/form" %>
</div>
