<%= form_for(@product, :html => {:multipart => true})  do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- WHY DID I EMAIL MASK? -->
  <div class="form-group">
    <%= f.text_field :title, autofocus: true, placeholder: "Title", class: "form-control", id: "email-mask", required: true %>
  </div>

  <div class="form-group">
    <%= f.collection_select :category_id, Category.order(:category_name),:id,:category_name, {prompt: true, required: true}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.phone_field :price, required: true,  pattern: "[(][0-9]{3}[)] [0-9]{3}[\-][0-9]{4}", placeholder: "Price", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.trix_editor :description, required: true, placeholder: "Description", rows: 10, class: "form-control" %>
  </div>

  <div class="form-group">
    <% if @product.images? %>
      <% @product.images.each do |p| %>
        <%= image_tag(p.url(:thumb), class: "image-container") %>
      <% end %>
    <% end %>
    <div id="preview"></div>
    <%= f.file_field :images, :onchange => "previewFiles()", multiple: true, placeholder: "Image", class: "form-control"%>
    <%= f.hidden_field :images_cache, multiple: true %>
  </div>

  <div class="form-group">
    <h6>Products will stay posted for <%= $days_posted %> days.</h6>
    <% if @products > $max_products %>
      <%= f.submit "Post Product", class: "btn btn-primary", disabled: true %>
    <% else %>
      <%= f.submit "Post Product", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>