<% if @banner.product_index.present? %>
  <div class="alert alert-info alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= @banner.product_index %>
</div>
<% end %>

<%= render partial: "products/subnav" %>
<div class="content-container">

  <h1 class="page-header">Marketplace</h1>
  <%= render partial: "products/sidenav" %>
  <div class="container col-md-10"> 
  	<%= render @products %>
    <div class="container col-md-12">
      <%= will_paginate @products %>
    </div>
  </div>
  

</div>