<% if @banner.product_show.present? %>
    <div class="alert alert-info alert-dismissable">
  	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  	<%= @banner.product_show %>
  </div>
<% end %>

<h1><%= markdownify @product.title %></h1>
<p><%= @product.price %></p>
<p><%= markdownify @product.description %></p>
<p><%= @product.user.email %></p>

<div class="owl-carousel">
<% @product.images.each do |p| %>
	<div><%= image_tag p.url %></div>
<% end %>
</div>
<p><%= local_time_ago @product.created_at %></p>