<div class="container">
	<% if @banner.product_show.present? %>
	    <div class="alert alert-info alert-dismissable">
	  	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  	<%= @banner.product_show %>
	  </div>
	<% end %>

	<div class="scroller">
		<% @product.images.each do |p| %>
			<div><%= image_tag(p.url, class: "image-container") %></div>
		<% end %>
	</div>
	<h1><%= sanitize markdownify @product.title %></h1>
	<p><%= @product.price %></p>
	<p><%= sanitize markdownify @product.description %></p>
	<p><%= sanitize @product.user.email %></p>

	<p><%= local_time_ago @product.created_at %></p>
</div>