<div class="container">
	<% if @banner.product_show.present? %>
	    <div class="alert alert-info alert-dismissable">
	  	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  	<%= @banner.product_show %>
	  </div>
	<% end %>

	<div class="col-md-6">
		<% if @product.images.present? %>
			<div class="slider slider-for">
				<% @product.images.each do |p| %>
					<div><%= image_tag(p.url, class: "image-container") %></div>
				<% end %>
			</div>
			<div class="slider slider-nav">
				<% @product.images.each do |p| %>
					<div><%= image_tag(p.url, class: "image-container") %></div>
				<% end %>
			</div>
		<% else %>
			<div><%= image_tag("no-image.png", alt: "Default Profile Pic", class: "image-container no-image") %></div>
		<% end %>
	</div>
	
	<div class="col-md-6">
		<h1><%= sanitize markdownify @product.title %></h1>
		<p><%= @product.price %></p>
		<p><%= sanitize markdownify @product.description %></p>
		<p><%= local_time_ago @product.created_at %></p>

		<div class="btn btn-default btn-contact-info">Contact Seller</div>
		<% if @user.present? %>
			<div class="show-contact-info" style="display: none;">
				<p><i class="fa fa-envelope" aria-hidden="true"></i> <%= sanitize @product.user.email %></p>
				<% if @product.user.phone_number? %>
					<p><i class="fa fa-phone" aria-hidden="true"></i> <%= sanitize @product.user.phone_number %></p>
				<% elsif @product.contact_pref? %>
					<p><i class="fa fa-phone" aria-hidden="true"></i> <%= sanitize @product.contact_pref %></p>
				<% end %>
			</div>
		<% end %>
	</div>


</div>