<div class="container">
	<% if @banner.product_show.present? %>
	    <div class="alert alert-info alert-dismissable">
	  	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  	<%= @banner.product_show %>
	  </div>
	<% end %>
  <!-- Portfolio Item Heading -->
  

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-7 show-images-container">
      	<% if @product.images.present? %>
			<div class="slider slider-for">
				<% @product.images.each do |p| %>
					<div><%= image_tag(p.url, class: "show-image-container") %></div>
				<% end %>
			</div>
			<div class="slider slider-nav">
				<% @product.images.each do |p| %>
					<div><%= image_tag(p.url, class: "show-image-selection-container") %></div>
				<% end %>
			</div>
		<% else %>
			<div><%= image_tag("no-image.png", alt: "Default Profile Pic", class: "image-container no-image") %></div>
		<% end %>
    </div>

    <div class="col-md-5 show-details-container">
      <h3><%= image_tag(@product.user.images.url, class: "profile-image-container") %> <%= @product.user.username %></h3>
  	  <h4 class="social-icons">
  		<a href="#" ><i class="fa fa-facebook" aria-hidden="true" style="color: <%= @market.first_color %>"></i></a>
  		<a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color: <%= @market.first_color %>"></i></a>
  		<a href="#"><i class="fa fa-snapchat" aria-hidden="true" style="color: <%= @market.first_color %>"></i></a>
  		<a href="#"><i class="fa fa-twitter" aria-hidden="true" style="color: <%= @market.first_color %>"></i></a>
  	  </h4>
      <p><%= local_time_ago @product.created_at %></p>
      <hr>
      <h2 class="my-4"><%= sanitize markdownify @product.title %></h2>
      <h4 class="my-3">Product Description</h4>
      <p><%= sanitize markdownify @product.description %></p>
      <p>$<%= @product.price %></p>
      <hr>
      <div class="btn btn-default btn-contact-info">Contact Seller</div>
		<% if @user.present? %>
			<div class="show-contact-info" style="display: none;">
				<p><i class="fa fa-envelope" aria-hidden="true"></i> <%= sanitize @product.user.email %></p>
				<% if @product.user.phone_number? %>
					<p><i class="fa fa-phone" aria-hidden="true"></i> <%= sanitize @product.user.phone_number %></p>
				<% elsif @product.contact_pref? %>
					<p><i class="fa fa-phone" aria-hidden="true"></i> <%= sanitize @product.contact_pref %></p>
				<% end %>
			</div>
		<% end %>
	 </div>
    </div>

    
  </div>