<%= form_for Image.new do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group">
    <% if f.object.image.present? %>
      <%= image_tag f.object.image_url %>
    <% end %>
    <!-- <%= f.label :image %><br> -->
    <%= f.hidden_field :image, value: f.object.cached_image_data %>
    <%= f.file_field :image, multiple: :true, placeholder: "Image", class: "form-control" %>
    </div> 


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
