<!DOCTYPE html>
<html>
<head>
  <title><%= @market.description %> - Made exclusively for Trojans.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
</head>
<body>

<%= render "shared/navbar" %>

<div class="main-container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info alert-dismissable" %>
  <% end %>
  <%= yield %>
</div>


</body>
</html>
